@use '@/styles/colors';

.container {
  max-width: 20rem;
  width: 100%;
}

.form {
  margin-bottom: 1rem;
  padding: 1rem 2rem 2rem;

  background-color: colors.$component-bg;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px -1px rgb(0 0 0 / 10%);
}

.title {
  margin-bottom: 1.5rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.form_field {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
  }

  input {
    border: 1px solid colors.$input-border;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    width: 100%;

    line-height: 1.25;
  }

  &_error {
    input {
      border-color: colors.$input-error;
    }
  }

  p {
    margin-top: 0;

    color: colors.$input-error;

    font-size: 0.75rem;
    font-style: italic;
  }
}

.button {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;

  color: colors.$primary-btn-text;

  background-color: colors.$primary-btn-bg;

  &:hover {
    background-color: colors.$primary-btn-bg-hover;
  }
}

@mixin alert_base {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  padding: 0.75rem 1rem;

  text-align: center;
}

.alert_success {
  @include alert_base;
  border-color: colors.$alert-success-border;

  color: colors.$alert-success-text;

  background-color: colors.$alert-success-bg;
}

.alert_failure {
  @include alert_base;
  border-color: colors.$alert-failure-border;

  color: colors.$alert-failure-text;

  background-color: colors.$alert-failure-bg;
}
