@use "@styles/colors";

.container {
  width: 100%;
  margin: 0.5rem;
  overflow: hidden;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
  border-radius: 0.25rem;
  max-width: 24rem;
}

.thumbnail_container {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.name_container {
  overflow: hidden;
  font-size: 1.125rem;
  line-height: 1.75rem;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_type_container {
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: colors.$zinc-500;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tags_container {
  display: flex;
  padding: 0.5rem 0.75rem;
  flex-wrap: wrap;
  gap: 0.5rem;

  span {
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    background-color: colors.$zinc-200;
    border-radius: 0.5rem;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
