$alert-failure-text: #c10007;
$alert-failure-bg: #ffe2e2;
$alert-failure-border: #ff6467;

$alert-success-text: #008236;
$alert-success-bg: #f0fdf4;
$alert-success-border: #05df72;

$bg: #fafafa;

$btn-text: white;
$btn-bg: #2563eb;
$btn-bg-hover: #1d4ed8;

$form-bg: white;

$input-border: #d4d4d8;
$input-error: #ef4444;

$navbar-bg: #18181b;

$navbar-btn-text: #99a1af;
$navbar-btn-bg: #27272a;
$navbar-btn-hover: #3f3f46;

$navbar-link-text: #364153;
$navbar-link-hover: #99a1af;

$navbar-title: #f4f4f5;

$navbar-username: #99a1af;

$text: #27272a;
